.boost {
  width: 100vw;
  background-image: url("../images/bg-boost-desktop.svg");
  background-color: var(--color-dark-violet);
  background-size: 100% 100%;
  padding: 80px 0;
}

.boost > h3 {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.boost > button {
  margin-top: 20px;
  margin-right: 45vw;
  margin-left: 45vw;
}

@media screen and (max-width: 500px) {
  .boost {
    padding: 20px 5px;
    background-image: url("../images/bg-boost-mobile.svg");
  }

  .boost > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .boost > button {
    margin: 20px auto;
  }
}
